/* ! -------------------------------------- */
/* ! Universal styles */
/* ! -------------------------------------- */

/* Root styles: Define reusable variables for colours, fonts, and other global properties */
:root {

  /* Typography - Heading */
  --heading-font-family: 'Prata', serif;
  --heading-font-weight: 400;
  --heading-font-style: normal;
  --heading-line-height: 1.1;
  --heading-letter-spacing: 2px;

  /* Typography - Body */
  --text-font-family: 'Sen', sans-serif;

  /* Colours */
  /* Backgrounds */
  --background-dark: #1E1E1E;
  --background-light: #282929;
  --extra-light-black: #424444;

  /* Accents */
  --accent-primary: #BFB4A8;
  --accent-dark: #9C8E7F;
  --accent-light: #E7E0D8;

  /* Text */
  --text-light: #E7E0D8;
  --text-cream: #F5F7F8;
  --text-white: #FFFFFF;
}

/* HTML root styles: Global settings applied to the html element */
html {
  /* Base font size set to 16px for easier scaling,  
  sets a baseline that’s respectful of user settings*/
  font-size: 100%; 
  /* Smooth scrolling for better user experience */
  scroll-behavior: smooth;
}

/* Body styles: Global base styles for the website */
body {
  background-color: var(--background-dark);
  color: var(--text-light);
  /* Font declarations */
  font-family: var(--text-font-family);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.4;
}

/* Focus styles for better accessibility */
:focus {
  outline: 2px solid var(--accent-primary);
  outline-offset: 2px;
}

/* Heading Styles */
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
}

h1 {
  /* font-size: clamp(minimum, preferred 85.8px on 1440px
​     screen, maximum); */
  font-size: clamp(3rem, 5.96vw, 6rem);
}

h2 {
  /* font-size: clamp(minimum, preferred 32px on 1440px
​     screen, maximum); */
  font-size: clamp(1.5rem, 2.22vw, 2.25rem);
}

h3 {
  /* font-size: clamp(minimum, preferred 24px on 1440px
​     screen, maximum); */
  font-size: clamp(1.125rem, 1.67vw, 1.75rem);
}

/* Paragraph Styles */
p {
  /* font-size: clamp(minimum, preferred 16px on 1440px
​     screen, maximum); */
  font-size: clamp(0.875rem, 1.11vw, 1.125rem);
}

.footer-paragraph {
  /* font-size: clamp(minimum, preferred 14px on 1440px
​     screen, maximum); */
  font-size: clamp(0.75rem, 0.97vw, 1rem);
}

.legal-paragraph {
  /* font-size: clamp(minimum, preferred 12px on 1440px
​     screen, maximum); */
  font-size: clamp(0.625rem, 0.83vw, 0.875rem);
}


/* ! -------------------------------------- */
/* ! Universal styles */
/* ! -------------------------------------- */